.home{
    height: 85vh;
    background-color:hsl(43, 100%, 62%) ;
    position: relative;
    // margin: auto;
    // display: flex;
    // flex-direction: column;
//     justify-content: center;
//     align-items: center;
}